// parti animation loader
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fond {
    100% {
        display: none;
        opacity: 0;
    }

    0% {
        display: block;
        opacity: 1;
    }
}

// parti apparition menu page restorant
@keyframes apparition {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}