// parti header
.dispo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 20px;

    .logo-1 {
        width: 60%;
        height: 36px;
    }
}

.image-1 {
    object-fit: cover;
    width: 100%;
}

// parti main