// parti header
.log-res {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 15%;

    @media screen and (min-width:767px) {
        margin-right: 25%;
    }

    @media screen and (min-width:1024px) {
        margin-right: 35%;
    }
}

.logo-1 {
    margin-top: 10px;
    height: 36px;
}



.image-1 {
    object-fit: cover;
    width: 100%;

    @media screen and (min-width:1024px) {
        height: 383px;
    }
}

// parti main
.recette {
    background-color: $color-5;
    border-radius: 25px;
    margin-top: -50px;
    padding: 20px;

    @media screen and (min-width:767px) {
        margin-top: -110px;
        padding: 30px;
    }

    @media screen and (min-width:1024px) {
        @include dispotion3;
        position: relative;
        left: 70px;
        margin-top: -30px;
        width: 80%;

    }

    .posi-titre {
        @include dispotion4;
        align-items: center;
        font-size: 25px;
        position: relative;

        @media screen and (min-width:767px) {
            justify-content: center;
        }

        @media screen and (min-width:1024px) {
            justify-content: center;
        }
    }
}

// parti soulignement catégorie
.bordure {
    border-bottom: 5px solid $tertiaire-color;
    width: 55px;

    @media screen and (min-width:767px) {
        border-bottom: 3px solid $tertiaire-color;
        width: 4%;
    }

    @media screen and (min-width:1024px) {
        border-bottom: 3px solid $tertiaire-color;
        width: 4%;
        margin-left: 10%;
    }
}

// parti dispotion card mernu
.posi-encar {
    @include dispotion3;
    align-items: center;
    gap: 10px;
    animation-fill-mode: both;
}

.delay1 {
    animation: apparition 1s;
}

// .delay2 {
//     animation: apparition 1.5s;
// }

// .delay3 {
//     animation: apparition 2s;

// }

.encar {
    @include dispotion4;
    overflow: hidden;
    min-width: 0px;
    background-color: $color-card;
    box-shadow: 0px 0px 1px rgb(193, 184, 184);
    width: 100%;
    height: 69px;
    border-radius: 10px;
    padding-left: 10px;
    transform: translateX(0);

    @media screen and (min-width:1024px) {
        width: 80%;
    }

}

// parti descriptif card menu
.disp {
    overflow: hidden;
    white-space: nowrap;
    padding-top: 5px;
}

.h3-txt {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}

.size-p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
}

// parti prix card menu
.placement {
    font-family: 'Roboto';
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-right: -5px;
}

.check {
    background-color: transparent;
    margin-right: 0px;
    margin-left: -20px;

}

.encar:hover .check {
    display: flex;
    align-items: center;
    height: 69px;
    width: 60px;
    margin-left: 10px;
    background-color: $tertiaire-color;
    animation: checke 0.5s;

}

#check-i {
    margin-left: 20px;
    color: $color-card;
}