// parti header
.log-res {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 15%;

    @media screen and (min-width:767px) {
        margin-right: 25%;
    }

    @media screen and (min-width:1024px) {
        margin-right: 35%;
    }
}

.logo-1 {
    margin-top: 10px;
    height: 36px;
}



.image-1 {
    object-fit: cover;
    width: 100%;

    @media screen and (min-width:1024px) {
        height: 383px;
    }
}

// parti main
.posi-encar {
    // @include dispotion3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.encar {
    // @include dispotion4;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    min-width: 0px;
    background-color: $color-card;
    box-shadow: 0px 0px 1px rgb(193, 184, 184);
    width: 100%;
    height: 69px;
    border-radius: 10px;
    padding-left: 10px;
    transform: translateX(0);
    animation: apparition1 1.5s;

    @media screen and (min-width:1024px) {
        width: 80%;
    }

}

.delay1 {
    animation: apparition2 2s;
}

.delay2 {
    animation: apparition3 2.5s;
}

.bordure {
    border-bottom: 5px solid $tertiaire-color;
    width: 15%;

    @media screen and (min-width:767px) {
        border-bottom: 3px solid $tertiaire-color;
        width: 4%;
    }

    @media screen and (min-width:1024px) {
        border-bottom: 3px solid $tertiaire-color;
        width: 4%;
        margin-left: 10%;
    }

    &:hover {
        border-bottom: 5px solid $main-color;

        @media screen and (min-width:1024px) {
            border-bottom: 3px solid $tertiaire-color;
        }
    }
}

.recette {
    background-color: $color-5;
    border-radius: 25px;
    margin-top: -50px;
    padding: 10px;

    @media screen and (min-width:767px) {
        margin-top: -110px;
        padding: 30px;
    }

    @media screen and (min-width:1024px) {
        // @include dispotion3;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 70px;
        margin-top: -30px;
        width: 80%;

    }

    .posi-titre {
        // @include dispotion4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
        position: relative;

        @media screen and (min-width:767px) {
            justify-content: center;
        }

        @media screen and (min-width:1024px) {
            justify-content: center;
        }
    }
}

// parti disposition card menu
.disp {
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
}

.placement {
    display: flex;
}

.price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.check {
    background-color: transparent;
    margin-right: 0px;
    margin-left: -20px;

    &:hover {
        display: flex;
        align-items: center;
        height: 69px;
        width: 60px;
        margin-left: 10px;
        background-color: $tertiaire-color;
    }
}

.check-i {
    margin-left: 20px;
    color: $color-card;
}

// parti heart
.heart-r {
    position: absolute;
    right: 5px;

    @media screen and (min-width:767px) {
        right: 160px;
    }

    @media screen and (min-width:1024px) {
        right: 230px;
    }
}

.heart-s {
    position: absolute;
    right: 5px;
    margin: 0px;
    transition: 1s ease-in;
    transform: scale(0);
    color: transparent;

    @media screen and (min-width:767px) {
        right: 160px;
    }
}

.posi-titre:hover .heart-s {
    background: linear-gradient($main-color, $second-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1);
}

// parti class media query ajouter version desktop
@media screen and (min-width:1024px) {
    .heart-s {
        position: absolute;
        right: 230px;
        margin: 0px;
        transition: 1s ease-in;
        color: transparent;

        &:hover {
            color: $main-color;
        }
    }
}