// parti body
body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0px;
}

// parti header 
.logo {
    margin-top: 20px;
    margin-left: 60px;
    width: 70%;
    height: 36px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $color-1;
    width: 100%;
    height: 50px;
    margin-top: 10px;

}

.fa-solid {
    color: $color-3;
    margin: 5px;
}

.border-input {
    border: 2px solid;
    border-color: transparent;
    background-color: $color-1;
    text-align: center;
    width: 30%;
}

// Parti section (reservez le menu qui vous convient)
.position {
    background-color: $color-5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: 'roboto';
    border-radius: 25px;
    width: 60%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn-ex {
    background: $color-4;

    .font-ecriture {
        color: $color-card;
    }
}

// Parti section (fonctionnement)
.position-2 {
    margin: 5px;
}

.position-2 h2 {
    margin-left: 10px;
}

.btn-posi {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .btn {
        background-color: $color-5;
        width: 80%;
        height: 72px;
        border-radius: 20px;
        margin: 0px;
    }
}

.circle-posi {
    display: flex;
    align-items: center;

    .circle {
        border-radius: 100%;
        border: 15px solid $main-color;
        margin-left: -20px;
        margin-right: 15px;
    }
}

// parti integration image 
.font {
    background-color: $color-5;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
}

.card {
    background-color: $color-card;
    width: 90%;
    height: 200px;
    border-radius: 20px;
    margin-left: 10px;

    .card-image {
        object-fit: cover;
        width: 100%;
        height: 100px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

.card-detail {
    margin-left: 5px;
    margin-top: 5px;
}

// Parti footer
.font-footer {
    background-color: $color-2;

    .ecriture {
        color: $color-card;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}