// parti body
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

// parti header 
.posi-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 20px;
    height: 36px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $color-1;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.fa-solid {
    color: $color-3;
    margin: 5px;
}

.border-input {
    border: 2px solid;
    border-color: transparent;
    background-color: $color-1;
    text-align: center;
    width: 30%;

    @media screen and (min-width:767px) {
        width: 15%;
    }
}

// Parti section (reservez le menu qui vous convient)
.position {
    padding: 15px;
    text-align: center;
    background-color: $color-5;

    @media screen and (min-width:767px) {
        padding: 0px;
    }
}

button {
    font-family: 'roboto';
    border-radius: 25px;
    border-color: transparent;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.15);
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;

    @media screen and (min-width:767px) {
        width: 50%;
    }
}

.btn-ex {
    border-color: transparent;
    background-image: $color-4;
    color: $color-card;
    font-weight: 500;

    &:hover {
        box-shadow: 0px 5px 10px rgb(29 49 63);

        .font-ecriture {
            color: $color-card;
        }
    }
}

// Parti section (fonctionnement)
.position-2 {
    margin: 5px;

    @media screen and (min-width:767px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.position-2 h2 {
    margin-left: 10px;
}

.btn-posi {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .btn {
        background-color: $color-5;
        width: 80%;
        height: 72px;
        border-radius: 20px;
        margin: 0px;
    }
}

.circle-posi {
    display: flex;
    align-items: center;

    .circle {
        border-radius: 100%;
        border: 15px solid $main-color;
        margin-left: -20px;
        margin-right: 15px;
    }
}

.chiffre {
    color: $color-card;
    margin-left: -34px;
    margin-right: 25px;
}

// parti integration image 
.font {
    background-color: $color-5;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;

    @media screen and (min-width:767px) {
        padding-left: 60px;
    }
}

.card {
    background-color: $color-card;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
    width: 90%;
    border-radius: 20px;
    margin-left: 10px;
    padding-bottom: 15px;

    & .card-image {
        object-fit: cover;
        width: 100%;
        height: 231px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

.card-detail {
    margin-left: 15px;
    margin-top: 5px;
}

.heart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    font-size: 20px;
    position: relative;
}

.heart-regular {
    position: absolute;
    right: 30px;
    bottom: 10px;

    &:active {
        color: transparent;
    }
}

.heart-solid {
    position: absolute;
    right: 30px;
    bottom: 10px;
    color: transparent;
    transition: 1s ease-in;
    margin: 0px;

    &:active {
        // background: linear-gradient($main-color, $second-color);
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
        color: $main-color;
    }
}

// Parti footer
.font-footer {
    background-color: $color-2;

    & .ecriture {
        color: $color-card;
        margin: 10px;

        @media screen and (min-width:767px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 5px;

    @media screen and (min-width:767px) {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

// parti class media query ajouter
@media screen and (min-width:767px) {
    .foot {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .foot2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}