// couleur a utiliser
$main-color: #9356dc;
$second-color: #ff79da;
$tertiaire-color: #99e2d0;
// dégrader couleur
$color-4: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
$color-6: linear-gradient(180deg, rgba(147, 86, 220, 1) 20%, rgba(219, 0, 158, 1) 100%);
// couleur supplémentaire
$color-1: #eaeaea;
$color-2: #353535;
$color-3: #7e7e7e;
$color-5: #f6f6f6;
$color-card: #ffff;

// Couleur id + personnalisation
#location-i {
    color: $color-2;
}

#ustensils {
    color: $color-card;
    margin-right: 10px;
    font-size: 10px;
}

#mains {
    color: $color-card;
    margin-right: 6px;
    font-size: 10px;
}

// Parti id ( section fonctionnement)
#phone-i {
    margin-right: 15px;
    font-size: 17px;

    @media screen and (min-width:1024px) {
        margin-left: 15px;
        margin-right: 20px;
    }
}

#list-i {
    margin-right: 15px;
    font-size: 17px;

    @media screen and (min-width:1024px) {
        margin-left: 15px;
        margin-right: 20px;
    }
}

#store-i {
    color: $main-color;
    margin-right: 15px;
    font-size: 17px;

    @media screen and (min-width:1024px) {
        margin-left: 15px;
        margin-right: 20px;
    }
}

#arrow {
    color: $color-2;
    margin-top: 20px;

    @media screen and (min-width:1024px) {
        margin-right: 270px;
    }
}

// Police d'écriture utiliser titre
h1 {
    font-family: 'ShriKhand';
    font-weight: 400;
    font-size: 18px;
}

h2 {
    font-family: 'roboto';
    font-weight: 700;
    font-size: 24px;
    margin: 0px;

    .h2-page {
        @include position-hp;
    }
}

.size {
    font-size: 18px;
}

h3 {
    @include taille-hp;
    margin-top: 8px;
    margin-bottom: 8px;
}

// Police d'écriture utiliser paragraphe
p {
    @include taille-hp;
    margin: 0px;

    .p-page {
        @include position-hp;
    }
}

a {
    @include taille-hp;
    color: $color-card;
    text-decoration: none;
}

// Parti Loader
.fond-loader {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: $color-2;
    width: 100%;
    height: 100%;
    animation: fond 2.5s forwards;

    .loader {
        /* création loader */
        border-top: 5px solid $main-color;
        border-bottom: 5px solid $main-color;
        border-left: 5px solid $tertiaire-color;
        border-right: 5px solid $tertiaire-color;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        animation: spin 2.5s linear forwards;
        /* placement loader */
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}