// couleur a utiliser
$main-color: #9356dc;
$second-color: #ff79da;
$tertiaire-color: #99e2d0;
// dégrader couleur
$color-4: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
// couleur supplémentaire
$color-1: #eaeaea;
$color-2: #353535;
$color-3: #7e7e7e;
$color-5: #f6f6f6;
$color-card: #ffff;

// Couleur id + personnalisation
#location-i {
    color: $color-2;
}

#ustensils {
    color: $color-card;
    margin-right: 10px;
    font-size: 10px;
}

#mains {
    color: $color-card;
    margin-right: 6px;
    font-size: 10px;
}

// Parti id ( section fonctionnement)
#phone-i {
    margin-right: 15px;
    font-size: 17px;
}

#list-i {
    margin-right: 15px;
    font-size: 17px;
}

#store-i {
    color: $main-color;
    margin-right: 15px;
    font-size: 17px;
}

#arrow {
    color: $color-2;
    margin-top: 19px;
}

// Police d'écriture utiliser titre
h1 {
    font-family: 'ShriKhand';
    font-weight: 400;
    font-size: 18px;
}

h2 {
    font-family: 'roboto';
    font-weight: 700;
    font-size: 24px;
    margin: 0px;
}

.size {
    font-size: 18px;
}

h3 {
    font-family: 'roboto';
    font-weight: 300;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

// Police d'écriture utiliser paragraphe
p {
    font-family: 'roboto';
    font-weight: 300;
    font-size: 17px;
    margin: 0px;
}

a {
    font-family: 'roboto';
    font-weight: 300;
    font-size: 17px;
}

.loader {
    /* création loader */
    background-color: $second-color;
    border-top: 10px solid $main-color;
    border-bottom: 10px solid $main-color;
    border-left: 5px solid $tertiaire-color;
    border-right: 5px solid $tertiaire-color;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 10s linear infinite;
    /* placement loader */
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.log {
    display: flex;
    margin-top: 43px;
    margin-left: 14px;
    width: 70%;
    height: 15px;
}

/* crétion animation du loader */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}