// parti police d'ecriture utiliser titre
.h1-size {
    font-size: 28px;
}

.h3-txt {
    font-weight: 500;
}

// Parti main
.recette {
    background-color: $color-5;
    border-radius: 25px;
    margin-top: -50px;
    padding: 10px;

    .posi-titre {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
    }
}

// Parti menu
.posi-menu {
    display: flex;
    justify-content: space-between;

    .size-p {
        font-size: 15px;
    }
}

.prize {
    width: 20vw;
}