// couleur a utiliser
$main-color: #9356dc;
$second-color: #ff79da;
$tertiaire-color: #99e2d0;
// dégrader couleur
$dégrader-color: linear-gradient(90deg, rgba(255, 121, 218, 1) 100%, rgba(147, 86, 220, 1) 100%);
// couleur supplémentaire
$color-1: #eaeaea;
$color-card: white;
// Police d'écriture utiliser
h1 {
    font-family: 'ShriKland' sans-serif;
}

h2 {
    font-family: 'roboto' sans-serif;
    font-weight: 700;
    size: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
}

h3 {
    font-family: 'roboto' sans-serif;
    font-weight: 700;
    size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}
p {
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    size: 17px;
    margin-top: 6px;
    margin-bottom: 0px;
}