// parti police d'ecriture utiliser titre
.h1-size {
    font-size: 28px;
}

.h3-txt {
    font-size: 15px;
    font-weight: 500;
}

// Parti menu
.posi-menu {
    display: flex;
    justify-content: space-between;

    .size-p {
        font-size: 14px;
    }
}

.prize {
    width: 10vw;
}