// parti police d'ecriture utiliser titre
.h1-size {
    font-size: 28px;
}

.h3-txt {
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: 500;
}

// parti menu taille paragraphe
.size-p {
    font-size: 14px;
}